<section class="content-header">
</section>

<section class="content">
  <div class="jumbotron">
    <h2>Pedido Concluído</h2>
    <p>Seu pedido foi recebido pelo restaurante. Prepare a mesa que a comida está chegando!</p>
    <p>
      <b>Avalie</b> sua experiência:</p>
    <p>
      <mt-rating *ngIf="!avaliado" (avaliacao)="getRate($event)"></mt-rating>
    </p>

    <form [formGroup]="formularioAvaliacao">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <mt-input-container label="Nome">
            <input class="form-control" formControlName="name" autocomplete="off" placeholder="Seu nome">
          </mt-input-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container label="Comentario">
            <input class="form-control" formControlName="comments" autocomplete="off" placeholder="Escreva um comentário">
          </mt-input-container>
        </div>
      </div>
    </form>
    <button class="btn" [ngStyle]="{'background-color':'red', 'color': 'white'}" (click)="addReview()">Enviar avaliação</button>
    <p>
      Obrigado pela sua avaliação!
    </p>
  </div>

</section>